.button {
    -fx-background-color: transparent;
    -fx-font-size: 24px;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: #9a8080;
}

.button:hover {
    -fx-font-size: 26px;
    -fx-text-fill: #9cff22;
}

.label {
    -fx-font-size: 16px;
    -fx-font-family: "Segoe Print", "Impact";
    -fx-text-fill: #888888;
}