.button {
    -fx-background-color: transparent;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-font-family: "Times New Roman";
    -fx-text-fill: #ddb2b2;
}

.button:hover {
    -fx-font-size: 22px;
    -fx-text-fill: #f56565;
}